<h1>Hello, <%= current_user.first_name %></h1>
Logged in as <strong><%= current_user.email %></strong>.
<%= link_to 'Add profile', edit_user_registration_path %> 
<%= button_to 'Logout', destroy_user_session_path, method: :delete %>
