<% if @property.errors.any? %>
  <div class="alert alert-danger" >
    <div id="error_explanation" data-turbo-cache="false">
      <ul>
        <% @property.errors.each do |message| %>
          <li><%= message.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
